<div class="profile-container">
  <!-- Left Panel -->
  <div class="sidebar">
    <div class="image-wrapper">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="" class="profile-photo" />
     <label class="camera-icon">
        <input type="file" hidden (change)="onPhotoChange($event)" /> 📷
      </label> 
    </div>
    <h2> PRASAD AMRUTKAR </h2>
    <button class="btn edit" (click)="toggleEdit()">Edit Profile</button>
   
  </div>
 
  <!-- Right Panel -->
  <div class="info-panel">
    <div class="info-columns">
      <!-- Personal Info -->
      <div class="info-section">
        <h3>Personal Information</h3>
       
        <label>DOB:</label>
        <input type="date" [(ngModel)]="user.dob" >
       
 
        <label>Gender:</label>
        <select [(ngModel)]="user.gender">
          <option value="">Select</option>
          <option value="Female">Female</option>
          <option value="Male">Male</option>
          <option value="Other">Other</option>
        </select>
 
       
 
       
 
        <label>Address:</label>
        <input type="text" [(ngModel)]="user.address" >
 
         <label>Nationality:</label>
<input type="text" [(ngModel)]="user.nationality" [disabled]="!isEdit" />
 
        <label>Contact Number:</label>
        <input type="text" [(ngModel)]="user.contactNumber" >
      </div>
     
      <!-- Official Info -->
      <div class="info-section">
        <h3>Official Information</h3>
        <label>Email ID:</label>
        <input type="email" [(ngModel)]="user.email" >
 
         <label>Job Role:</label>
        <select [(ngModel)]="user.jobRole">
          <option value="">Select</option>
          <option>HR Executive</option>
          <option>Software Developer</option>
          <option>Project Manager</option>
          <option>Business Analyst</option>
        </select>
 
        <label>Designation:</label>
        <select [(ngModel)]="user.designation">
          <option value="">Select</option>
          <option>HR Manager</option>
          <option>Software Engineer</option>
          <option>Senior Developer</option>
          <option>Team Lead</option>
        </select>
 
        <label>Date of Joining:</label>
        <input type="date" [(ngModel)]="user.joiningDate">
 
        <label>Job Location:</label>
        <input type="text" [(ngModel)]="user.location" >
      </div>
    </div>
  </div>
</div>
 
 