<div *ngIf="profile" class="profile-card-container">
  <div class="profile-card-wrapper">
    <p-card>
      <ng-template pTemplate="header">
        <div class="header">
          <p-avatar
            image="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
            shape="circle"
            size="xlarge"
          ></p-avatar>
          <h2>{{ profile.firstName }} {{ profile.lastName }}</h2>
          <p>{{ profile.role }} - {{ profile.department }}</p>
        </div>
      </ng-template>

      <div class="details">
        <p><strong>Employee ID:</strong> {{ profile.empId }}</p>
        <p><strong>Email:</strong> {{ profile.email }}</p>
        <p><strong>Mobile:</strong> {{ profile.mobile }}</p>
        <p><strong>Joining Date:</strong> {{ profile.joiningDate }}</p>
        <p><strong>Address:</strong> {{ profile.address }}</p>
      </div>
    </p-card>
  </div>
</div>
