<div class="content p-4">
  <!-- Holiday Calendar Section -->
  <div class="grid holiday-grid">
    <div class="holiday-card-wrapper" *ngFor="let holiday of holidayList">
      <p-card [header]="holiday.name" subheader="{{ holiday.date }}">
        <div class="holiday-card-content">
          <p>
            Celebrate <strong>{{ holiday.name }}</strong> on 
            <strong>{{ holiday.date }}</strong> 
            <strong>{{ holiday.day }}</strong>
          </p>
        </div>
      </p-card>
    </div>
  </div>

  <!-- Optional Holiday Section -->
  <h3 class="optional-title">Optional Holidays</h3>
  <div class="grid holiday-grid">
    <div class="holiday-card-wrapper" *ngFor="let holiday of optionholiday">
      <p-card [header]="holiday.name" subheader="{{ holiday.date }}">
        <div class="holiday-card-content">
          <p>
            Celebrate <strong>{{ holiday.name }}</strong> on 
            <strong>{{ holiday.date }}</strong> 
            <strong>{{ holiday.day }}</strong>
          </p>
        </div>
      </p-card>
    </div>
  </div>
</div>
