<div class="content-area card-grid">
  <p-card header="Registered" class="dashboard-card recruiter"><p>12</p></p-card>
  <p-card header="Mapped" class="dashboard-card interviewed"><p>9</p></p-card>
  <p-card header="Interviewed" class="dashboard-card rejected"><p>2</p></p-card>
  <p-card header="Hold" class="dashboard-card hold"><p>1</p></p-card>
  <p-card header="Offer Letter" class="dashboard-card offer"><p>5</p></p-card>
</div>

<div class="charts-container">
  <p-card header="Hiring Distribution (Pie)">
    <p-chart type="pie" [data]="pieChartData" [options]="pieOptions" styleClass="custom-chart"></p-chart>
  </p-card>

  <p-card header="Monthly Stats (Bar)">
    <p-chart type="bar" [data]="barChartData" [options]="barOptions" styleClass="custom-chart"></p-chart>
  </p-card>
</div>
