<nav class="navbar">
  <!-- Left: Menu Icon & Title -->
  <div class="navbar-left">
    <button pButton icon="pi pi-bars" class="p-button-text p-button-rounded menu-btn" (click)="toggleSidebar()">
     
    </button>
    <span class="title">HR Portal</span>
  </div>

  <!-- Center: Search -->
  <div class="navbar-center">
    <span class="p-input-icon-left">
      <input type="text" pInputText placeholder="Search" />
    </span>
  </div>

  <!-- Right: Icons and Avatar -->
  <div class="navbar-right">
    <i class="pi pi-info-circle icon-spacing"></i>
    <i class="pi pi-bell icon-spacing"></i>
    <p-avatar
      image="https://png.pngtree.com/png-vector/20191101/ourmid/pngtree-cartoon-color-simple-male-avatar-png-image_1934459.jpg"
      shape="circle"
      size="large"
      (click)="menu.toggle($event)">
    </p-avatar>
    <p-menu #menu [popup]="true" [model]="profileMenu"></p-menu>
  </div>
</nav>

<div class="portal-container">
  <!-- Sidebar -->
  <div class="sidebar" *ngIf="sidebarVisible">
    <ul class="menu-list">

      <li *ngFor="let item of menuItems"
    [routerLink]="item.route"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
      <i class="{{ item.icon }}"></i> {{ item.label }}
    </li>

    </ul>
  </div>
</div>
