<p-toast position="top-right"></p-toast>

<div class="resignation-wrapper">
  <h1 class="page-title">Submit Resignation</h1>

  <div class="resignation-card">
    <h2 class="form-title">Resignation Form</h2>

    <form (ngSubmit)="submitResignation()" #resignForm="ngForm" class="form-fields">

      <!-- Employee Dropdown -->
      <div class="form-group">
        <label class="form-label">Employee Name</label>
        <p-dropdown [options]="employeeOptions" [(ngModel)]="resignation.empName" name="employeeName"
          placeholder="Select Employee" [filter]="true" required>
        </p-dropdown>
      </div>

      <!-- Resignation Date -->
      <div class="form-group">
        <label class="form-label">Resignation Date</label>
        <p-calendar [(ngModel)]="resignation.resignDate" name="resignDate" dateFormat="yy-mm-dd" showIcon="true"
          required>
        </p-calendar>
      </div>

      <!-- Last Working Date -->
      <div class="form-group">
        <label class="form-label">Last Working Date</label>
        <p-calendar [(ngModel)]="resignation.lastWorkingDate" name="lastWorkingDate" dateFormat="yy-mm-dd"
          showIcon="true" required>
        </p-calendar>
      </div>

      <div class="form-group">
        <label class="form-label">Reason for Resignation</label>
        <textarea pInputTextarea [(ngModel)]="resignation.reason" name="reason" rows="4" class="reason-textarea"
           required>
  </textarea>
      </div>


      <!-- Notice Period
      <div class="form-group">
        <label class="form-label">Notice Period (Days)</label>
        <input 
          pInputText 
          type="number" 
          [(ngModel)]="resignation.noticePeriodDays" 
          name="noticePeriodDays" 
          required>
      </div> -->

      <!-- Buttons -->
      <div class="button-group">
        <button pButton type="submit" label="Submit" icon="pi pi-check" class="save-btn"
          [disabled]="!resignForm.valid"></button>
        <button pButton type="reset" label="Clear" class="clear-btn" icon="pi pi-times"></button>
      </div>

    </form>
  </div>
</div>